# Emacs runtime and machine-specific compilation products
home/.emacs.d/*.elc
home/.emacs.d/**/*.elc
home/.emacs.d/*.eln
home/.emacs.d/**/*.eln
home/.emacs.d/elpa/
home/.emacs.d/eln-cache/
home/.emacs.d/cache/
home/.emacs.d/custom.el
home/.emacs.d/history
home/.emacs.d/recentf.eld
home/.emacs.d/saveplace
home/.emacs.d/projects.eld
