# Emacs runtime and machine-specific compilation products
minimal-emacs.d/*.elc
minimal-emacs.d/**/*.elc
minimal-emacs.d/*.eln
minimal-emacs.d/**/*.eln
minimal-emacs.d/elpa/
minimal-emacs.d/eln-cache/
minimal-emacs.d/cache/
minimal-emacs.d/custom.el
minimal-emacs.d/history
minimal-emacs.d/recentf.eld
minimal-emacs.d/saveplace
minimal-emacs.d/projects.eld
